
    <h2>Book detail</h2>
    <table class="table">
        <tbody>
            <tr>
                <td><%= image_tag user.get_profile_image(100,100) %></td>
                <tb><%= book.title %></tb>
                <td><%= book.body %></td>
                <tb>#Edit</tb>
                <tb>#Destroy</tb>
            </tr>
        </tbody>
    </table>
