
<div class="container px-5 px-sm-0">
    <div class="row">
         <%= render'book', book: @books, user: @user %>

         <div class="col-md-8 offset-md-1">
           <h2>Book detail</h2>
           <table class="table">
            <tbody>
             <tr>
             
             <tb><%= @book.user.name %></tb>
             <tb><%= @book.title %></tb>
             <td><%= @book.body %></td>
             <tb>#Edit</tb>
             <tb>#Destroy</tb>
             </tr>
             </tbody>
            </table>

        </div>
    </div>
</div>

